/* CSS files add styling rules to your content */

body {
  font-family: helvetica, arial, sans-serif;
  margin: 2em;
}

h1 {
  font-style: italic;
  color: black;
  text-align: center
}

.carousel-item img {
  width: auto;
  height: 700px;
  max-height: 700px;
}