<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <style>
      @import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
    </style>
    <style>
      @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");
    </style>
    <title>Living Costs</title>

    <!-- import the webpage's stylesheet -->
    <link rel="stylesheet" type="text/css" href="style.css" />
  </head>
  <body>
    <div class="header">
      <h1>Living Costs</h1>
    </div>
    <div class="sub_header">
      <h1>based on city</h1>
    </div>

    <div class="city" id="New_York">
      <h2>
        <a href="new-york.html">
          <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="https://www.visittheusa.com/sites/default/files/styles/hero_l_x2/public/images/hero_media_image/2017-05/9dbea438bcd305129064e4a048cc6b52.jpeg?itok=fsRq3wyj" alt="New York">
            <div class="card-body">
              <p class="card-text">
                New York Living Costs
              </p>
            </div>
          </div>
        </a>
      </h2>
    </div>
    <p></p>

    <div class="city" id="Boston">
      <div class="transbox2">
        <h2>
          <a href="boston.html">
             <div class="card" style="width: 18rem;">
          <img src="https://amtrakdowneaster.com/sites/default/files/station-images/stations_boston.jpg" class="card-img-top" alt="..." />
          <div class="card-body">
            <p class="card-text">
            Boston Living Costs</p>
            </div>
          </div>
        </a>
      </h2>
    </div>
    <p></p>

    <div class="city" id="San_Francisco">
      <div class="transbox3">
        <h2>
          <a href="san-francisco.html">
            <div class="card" style="width: 18rem;">
          <img src="https://ca-times.brightspotcdn.com/dims4/default/1e7c900/2147483647/strip/true/crop/500x333+0+0/resize/840x559!/quality/90/?url=https%3A%2F%2Fcalifornia-times-brightspot.s3.amazonaws.com%2F75%2F50%2F04762301f4c02a71970210f2f1bb%2Flat-topsanfran-ix9s1jnc20070607105725" class="card-img-top" alt="..." />
          <div class="card-body">
            <p class="card-text">
            San Francisco Living Costs
                   </p>
            </div>
          </div>
        </a>
      </h2>
    </div>
    <p></p>

    <div class="city" id="Miami">
      <div class="transbox2">
        <h2>
          <a href="miami.html">
            <div class="card" style="width: 18rem;">
          <img src="https://media.timeout.com/images/105617718/630/472/image.jpg" class="card-img-top" alt="..." />
          <div class="card-body">
            <p class="card-text">
            Miami Living Costs
                   </p>
            </div>
          </div>
        </a>
      </h2>
    </div>
    <p></p>

    <div class="city" id="Los Angeles">
      <div class="transbox2">
        <h2>
          <a href="la.html">
            <div class="card" style="width: 18rem;">
          <img src="https://upload.wikimedia.org/wikipedia/commons/3/32/20190616154621%21Echo_Park_Lake_with_Downtown_Los_Angeles_Skyline.jpg" class="card-img-top" alt="..." />
          <div class="card-body">
            <p class="card-text">
            Los Angeles Living Costs
                   </p>
            </div>
          </div>
        </a>
      </h2>
    </div>
    <p></p>

    <div class="city" id="Chicago">
      <div class="transbox2">
        <h2>
          <a href="chicago.html">
            <div class="card" style="width: 18rem;">
          <img src="https://cdn.choosechicago.com/uploads/2019/05/loop.jpg" class="card-img-top" alt="..." />
          <div class="card-body">
            <p class="card-text">
            Chicago Living Costs
             </p>
            </div>
          </div>
        </a>
      </h2>
    </div>
    <p></p>
    <div class="city" id="Washington_DC">
      <div class="transbox2">
        <h2>
          <a href="washington-dc.html">
            <div class="card" style="width: 18rem;">
          <img src="https://www.telegraph.co.uk/content/dam/travel/Spark/brand-usa-2018/washinton-dc-mall.jpg?imwidth=450" class="card-img-top" alt="..." />
          <div class="card-body">
            <p class="card-text">
            Washington DC Living Costs
               </p>
            </div>
          </div>
        </a>
      </h2>
    </div>
    <p></p>

    <div class="city" id="Seattle">
      <div class="transbox2">
        <h2>
          <a href="seattle.html">
            <div class="card" style="width: 18rem;">
          <img src="https://thumbor.forbes.com/thumbor/fit-in/416x416/filters%3Aformat%28jpg%29/https%3A%2F%2Fi.forbesimg.com%2Fmedia%2Flists%2Fplaces%2Fseattle-wa_416x416.jpg" class="card-img-top" alt="..." />
          <div class="card-body">
            <p class="card-text">
            Seattle Living Costs
            </p>
            </div>
          </div>
        </a>
      </h2>
    </div>
    <p></p>

    <div class="city" id="Austin">
      <div class="transbox2">
        <h2>
          <a href="austin.html">
            <div class="card" style="width: 18rem;">
          <img src="https://cdn.vox-cdn.com/thumbor/3StqpEeR6-j2myj3buaupg9wHS0=/0x0:5454x3002/1200x480/filters:focal(2291x1065:3163x1937)/cdn.vox-cdn.com/uploads/chorus_image/image/56589597/shutterstock_681676399.1504903942.jpg" class="card-img-top" alt="..." />
          <div class="card-body">
            <p class="card-text">
            Austin Living Costs
            </p>
            </div>
          </div>
        </a>
      </h2>
    </div>
    <p></p>

    <div class="city" id="Houston">
      <div class="transbox2">
        <h2>
          <a href="houston.html">
            <div class="card" style="width: 18rem;">
          <img src="https://cdn.abcotvs.com/dip/images/5100072_012119-ktrk-shutter-houston-skyline-img.jpg?w=1600" class="card-img-top" alt="..." />
          <div class="card-body">
            <p class="card-text">
            Houston Living Costs
            </p>
            </div>
          </div>
        </a>
      </h2>
    </div>
    <p></p>

    <div class="city" id="Denver">
      <div class="transbox2">
        <h2>
          <a href="denver.html">
            <div class="card" style="width: 18rem;">
          <img src="https://assets.simpleviewinc.com/simpleview/image/upload/c_fill,h_280,q_50,w_640/v1/clients/denver/Denver_Skyline_Twilight_7d5b543c-c9c8-4714-acbc-6ce2c5d2e204.jpg" class="card-img-top" alt="..." />
          <div class="card-body">
            <p class="card-text">
            Denver Living Costs
             </p>
            </div>
          </div>
        </a>
      </h2>
    </div>
    <p></p>
    <div class="city" id="Philidelpia">
      <div class="transbox2">
        <h2>
          <a href="philadelphia.html">
            <div class="card" style="width: 18rem;">
          <img src="https://mk0streamlineph8igq0.kinstacdn.com/content/uploads/2019/10/iStock-1141532096.jpg" class="card-img-top" alt="..." />
          <div class="card-body">
            <p class="card-text">
            Philidelpia Living Costs
              </p>
            </div>
          </div>
        </a>
      </h2>
    </div>
    <p></p>

    <div class="city" id="Detroit">
      <div class="transbox2">
        <h2>
          <a href="detroit.html">
             <div class="card" style="width: 18rem;">
          <img src="https://s3-prod.crainsdetroit.com/s3fs-public/Detroit%20skyline%20_LP_i.jpg" class="card-img-top" alt="..." />
          <div class="card-body">
            <p class="card-text">
            Detroit Living Costs
             </p>
            </div>
          </div>
        </a>
      </h2>
    </div>
    <p></p>

    <div class="city" id="Atlanta">
      <div class="transbox2">
        <h2>
          <a href="atlanta.html">
             <div class="card" style="width: 18rem;">
          <img src="https://images2.newscred.com/Zz04ZjM2NzZkMTkzMDdhNmUwMTEwYmNmYTFiNTM5NGQxNQ==?height=480&width=800" class="card-img-top" alt="..." />
          <div class="card-body">
            <p class="card-text">
            Atlanta Living Costs
           </p>
            </div>
          </div>
        </a>
      </h2>
    </div>
    <p></p>
    <div class="city" id="Baltimore">
      <div class="transbox2">
        <h2>
          <a href="baltimore.html">
             <div class="card" style="width: 18rem;">
          <img src="https://cache.marriott.com/marriottassets/marriott/BWIWF/bwiwf-exterior-5501-hor-feat.jpg?output-quality=70&interpolation=progressive-bilinear&downsize=1180px:*" class="card-img-top" alt="..." />
          <div class="card-body">
            <p class="card-text">
            Baltimore Living Costs
               </p>
            </div>
          </div>
        </a>
      </h2>
    </div>
    <p></p>
      
    <div class="city" id="Honolulu">
      <div class="transbox2">
        <h2>
          <a href="honolulu.html">
             <div class="card" style="width: 18rem;">
          <img src="https://www.gohawaii.com/sites/default/files/styles/image_gallery_bg_xl/public/hero-unit-images/Oahu-Honolulu-Aerial-Hero-2_1.jpg?itok=XX4tTNBw" class="card-img-top" alt="..." />
          <div class="card-body">
            <p class="card-text">
            Honolulu Living Costs
            </p>
            </div>
          </div>
        </a>
      </h2>
    </div>
    <p></p>

    <div class="content-section-a">
      <div class="form">
        <form method="GET" action="/userinfo">
          <label for="budget">What are your current yearly earnings?</label>
          <input type="text" name="name" />
          <input type="submit" />
        </form>
      </div>
    </div>     
  </body>
</html>
